* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100%;
}
/* --------------------- */
/* ----------------------- */



/* ------------------------- */
nav{
    width: 100%;
    height: 133px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
}

img.logo{
    width: 27.48%;
    height: 37.53px;
    margin: 3.5% 4.25%;
}

nav ul{
    float: right;
    list-style-type: none;
    margin-right: 61px;
}

nav ul li{
    display: inline-block;
    line-height: 135px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-family: 'New York Small';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0.12em;
    text-transform: uppercase ;
    padding: 8px 20px;
}

#checkbtn{
    float: right;
    line-height: 135px;
    margin-right: 20px;
    font-size: 25px;
    display: none;
}

#check{
    display: none;
}

#check:checked ~ ul{
    left: 0;
}

.under{
    position: absolute;
    top: 82px;
    left: 65.2%;
    width: 4%;
    transform: translateY(50px);
    border-top: 2px solid rgb(0, 0, 0);
}
/* ---------------------- */
/* ----------------- */
.image2 {
    width: 56.4%;
    margin: 5.06% 21.347%;
}

.title1 {
    width: 59.58%;
    height: 162px;
    margin-top: -2%;
    margin-left: 19%;
    font-family: 'New York Extra Large', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 43px;
    text-align: center;
    color: #000000;
}

.text {
    width: 38.94%;
    height: 4.47%;
    margin-left: 29.8%;
    margin-top: 2%;

    font-family: 'SF Mono',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;

    text-align: center;

    color: #000000;
}

.text:after {
    content: " ";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000000;
    margin-left: 0%;
    margin-top: 5%;
}

.title2 {
    width: 225px;
    height: 53px;
    margin-left: 41%;
    margin-top: 3%;

    font-family: 'New York Extra Large';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    text-align: center;

    color: #000000;
}

/* ------About section-------- */

.img-1,
.img-2{
    margin-top: 30px;
}

.img-1,
.img-3,
.img-5,
.img-7,
.img-9,
.img-11 {
    margin-left: 420px;
}

.img-2,
.img-4,
.img-6,
.img-8,
.img-10,
.img-12 { 
    margin-left: -10px;
}

.img-3,
.img-4,
.img-5,
.img-6,
.img-7,
.img-8,
.img-9,
.img-10,
.img-11,
.img-12 {
    margin-top: 15px;
}

section p a{
    text-decoration: none;
    color: #000000;
}

section p{
    width: 262px;
    height: 78px;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
}

.picture-title-1{
    margin-left: 440px;
    margin-top: 15px;
}

.picture-title-2{
    margin-left: 10px;
    margin-top: 15px;
}

.space{
    width: 100%;
    height: 18%;
}

/* --------------- */
/* --------END------- */
/* -------------- */

.end {
    width: 100%;
    height: 464px;
    margin-bottom: 0px;
    background: #000000;
}

.main-navv {
    float: left;
    list-style: none;
    margin-left: -3px;
    margin-top: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.main-navv li {
    display: inline-block;
}

.main-navv li a {
    margin-left: 10px;
    text-decoration: none;
    font-family: 'SF Pro Text', sans-serif;
    font-style: normal;
    color: #ffffff



}

.head{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}


.head-1{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
} 

.nordic{
    width: 19.13%;
    height: 27.3px;
    margin-left: 37.6%;
    margin-top: 6%;
}

.lorem{
    width: 32.1%;
    height: 71px;
    margin-left: 31.3%;
    margin-top: 1.5%;
    font-family: 'New York Small',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center; 
    color: #FFFFFF;
}

.main-TK {
    float: left;
    list-style: none;
    margin-left: 38.15%;
    margin-top: 2%;
    letter-spacing: 0.12em;
}

.main-TK li {
    display: inline-block;
    margin-right: 32px;
}

.main-TK li a {
    font-family: 'SF Pro Text',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: #ffffff;
    transition: border-bottom 0.5s;
    padding: 48px 0;
}

.text-end{
    width: 11.7%;
    height: 34px;
    margin-left: 41.25%;
    margin-top: 9%;    
    font-family: 'SF Pro Text',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    text-align: center; 
    color: #FFFFFF;
}
